.todo-item-todo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #555;
  
    &:last-child {
      border-bottom: none;
    }
  
    input[type='checkbox'] {
      margin-right: 10px;
    }
  
    span {
      flex: 1;
      text-align: left;
    }

.buttons{
  display: flex;
  gap:10px;

  .edit-btn{
    background-color: grey;
    padding: 10px 15px;
    border: none;
    color: #555;
    cursor: pointer;

    &:hover {
      color: #333;
    }
  }

 .delete-btn{
    background-color: red;
    padding: 10px 15px;

    border: none;
    color: #555;
    cursor: pointer;

    &:hover {
      color: #333;
    }
  
 }

}
    


  }
  
  .completed {
    text-decoration: line-through;
    color: #d9d9d9;
  }
  